<!DOCTYPE html>

<html lang="ja">

    {% load static %}



    <head>


        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        <title>Polls</title>

        {% bootstrap_css %}
        <link rel="stylesheet" type="text/css" href="{% static 'polls/css/style.css' %}">


    </head>



    <body>


        {% block content %}
        {% endblock content %}

        {% bootstrap_javascript jquery='full' %}


    </body>



</html>